
body {
    background: black;
}

.container {
    margin: 0 auto;
    max-width: 1350px;
    outline: 5px red;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}

.gallery li {
    float: left;
    width: 500px;
    list-style: none;
}

.gallery img {
    display: block;
    width: 80%;
    height: 80%;
    margin: 40px 40px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
    transition: all 0.7s ease-in-out;
}

.gallery img:hover {
    opacity: 1;
    transform: scale(1.1);
}